$white: #fff;
$black: #000;

// implement the 2 dimensional map using the provided color palette from the design here
// make sure to use '' for the keys, for example 'gray'
$colors-list: (
  'brand': (
    '400': #b692f6,
    '500': #9e77ed,
    '600': #7f56d9,
    '700': #6941c6,
  ),
  'error': (
    '400': #f97066,
    '500': #f04438,
    '600': #d92d20,
    '700': #b42318,
  ),
  'warning': (
    '400': #fdb022,
    '500': #f79009,
    '600': #dc6803,
    '700': #b54708,
  ),
  'success': (
    '400': #47cd89,
    '500': #17b26a,
    '600': #079455,
    '700': #067647,
  ),
  'gray': (
    '400': #98a2b3,
    '500': #667085,
    '600': #475467,
    '700': #344054,
  ),
);
